# Web dependencies (The biggest culprits)
node_modules/
dist/
build/

# Python dependencies and environments
venv/
.env
__pycache__/
*.pyc

# Large Model files (if pipeline.pkl is > 100MB)
# backend/model/pipeline.pkl

# System files
.DS_Store